rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test/{test_id} {
      match /{document=**} {
        allow read, write: if true;
      }
    }

    match /test2/{test_id} {
      match /{document=**} {
        allow read, write: if true;
      }
    }

    match /test_conditionally_private/{test_id} {
      match /{document=**} {
        allow list: if resource.data.isPrivate != true;
        allow get: if resource == null || !('isPrivate' in resource.data) || resource.data.isPrivate != true;
        allow write: if true;
      }
    }
  }
}
