rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{name} {
      allow read: if name != "private.txt";
      allow write: if name != "invalid.txt";
    }
  }
}
